<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="/css/{{.Params.appdest}}.app.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- Local Script  -->
    <script>
        //if (!localStorage.getItem("baseurl")) {
            localStorage.setItem("baseurl", 'https://test.easytravelapi.com/rest/yourauthtoken');
        //}
        if (!localStorage.getItem("language")) {
            localStorage.setItem("language", 'es');
        }
        var globaldata = {baseurl: localStorage.getItem("baseurl"), language: localStorage.getItem("language"), userprofile: JSON.parse(sessionStorage.getItem("userprofile"))};
        function selectLanguage(lang) {
            localStorage.setItem("language", lang);
            var globaldata = {baseurl: localStorage.getItem("baseurl"), language: localStorage.getItem("language"), userprofile: JSON.parse(sessionStorage.getItem("userprofile"))};
        };

    </script>

    <style>
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;

    }
    .spacer {
        margin-top: 5%;
    }
    .appcontainer {
        margin-top: 5%;
        margin-bottom: 5%;
        border-radius: 0 60px 0 60px;
        padding: 20px;
        opacity: 0.85;
        filter: alpha(opacity=90);
    }
    </style>
</head>
<body class="">
{{ block "header" . }}{{ partial "header.html" .}}{{ end }}
{{ block "main" . }}{{ end }}
{{ block "footer" . }}{{ partial "footer.html" .}}{{ end }}
{{ block "scripts" . }}{{ partial "scripts.html" .}}{{ end }}
</body>
</html>