{{ define "main" }}
<h2 class="center">QuoTravel</h2>
<div class="row">
<div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
        <p><h2 class="white-text">Hoteles</h2></p>
        <p class="white-text">Te ofrecemos los mejores precios en hoteles</p>
        <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>
    <a class="carousel-item" href="#two!"><img src="/images/home/foto1.jpg" height="600px"></a>

    <a class="carousel-item" href="#three!"><img src="/images/home/foto2.jpg" height="600px"></a>
    <a class="carousel-item" href="#four!"><img src="/images/home/foto3.jpg" height="600x"></a>
    <a class="carousel-item" href="#four!"><img src="/images/home/foto5.jpg" height="600x"></a>
</div>
</div>

<!--<div  >
    {{.Content}}
</div>-->
{{ end }}